.*
Dockerfile
compose.yaml
*.pyc
*.DS_Store
/data/csv/
/data/videos/
/models/
/src/yolov9/runs/detect/
/src/yolov9/runs/train/15-03-2024_64Batch_300Epochs/
/src/yolov9/runs/train/25_03_2024_16Batch_25Epochs_Set_1/
/src/yolov9/runs/train/25_03_2024_16Batch_25Epochs_Set_2/
/src/yolov9/weights/
/data/json/
/notebooks/temp_link/
/notebooks/.ipynb_checkpoints/
/notebooks/macropodidae_detection.ipynb
/notebooks/Results.ipynb
/app/requirements.txt
