/* dark blue element with white text */
.blu-whi {
    background-color: #2E3D49;
    color: #ffffff;
}

$form-range-track-bg: rgba(79, 76, 76, 0.877);

/* Body Styles */
.body {
    min-height: 75rem;
    padding-top: 4.5rem;
}

/* Custom Button Styles */
.custom-btn-color {
    background-color: #2E3D49;
    color: #ffffff;
}

/* Custom CSS for box styling */
.rounded-box {
    border-radius: 10px;
    background-color: #f2f2f2;
}

.custom-background {
    background-color: #2E3D49;
    color: #ffffff;
}

.body {
    min-height: 75rem;
    padding-top: 4.5rem;
}

.btn-cam {
    background-color: #2e3d49;
    color: #ffffff;
}

img {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

jumbotron {
  border-radius: 10px;
}

.navbar-brand { padding-left: 0.75rem;}

.navbar-nav { padding-left: 0.75rem;}

.navbar-toggler { padding-left: 0.75rem;}