<nav class="navbar navbar-expand-md navbar-dark" style="background-color: #2E3D49;">
    <a class="navbar-brand" href="/">RooVision</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="/roo_vision/datavision/data">Data</a></li>
        <li class="nav-item"><a class="nav-link" href="/model">Model</a></li>
        <li class="nav-item"><a class="nav-link" href="/average_precision">Average Precision</a></li>
        <li class="nav-item"><a class="nav-link" href="https://github.com/romanwolf-git">Contact</a></li>
    </ul>

    <div class="collapse navbar-collapse" id="navbarCollapse">
    </div>
</nav>