<form action="{{ url_for('image_upload_bp.upload_image') }}" method="POST" enctype="multipart/form-data">
    <label class="form-label">Upload a photo or video</label>
    {{ form.hidden_tag() }}
    {% for error in form.photo.errors %}
    <span style="color: red">{{ error }}</span>
    {% endfor %}

    <div class="input-group mb-3">
        {{ form.photo(class="form-control", id="photo") }}
        {{ form.submit(class="btn blu-whi") }}
    </div>
</form>

{% if img_name %}
<div class="mt-2">
    <form action="{{ url_for('image_inference_bp.detect_object') }}" method="POST">
        <img src="{{ url_for('image_upload_bp.static', filename='img/' + img_name) }}" alt="Uploaded Image" width="30%">
        <button type="submit" style="width:200px" class="btn blu-whi mt-2">Detect</button>
    </form>
</div>
{% endif %}


{% if img_name_out %}
<div class="mt-2">
    <form action="{{ url_for('image_inference_bp.detect_object') }}" method="POST">
        <img src="{{ url_for('image_inference_bp.static', filename='output/' + img_name_out) }}" alt="Inferred Image" width="30%">
        <button type="submit" style="width:200px" class="btn blu-whi mt-2">Detect</button>
    </form>
</div>
<div class="mt-2">
    <p>confidence=50</p>
    <p>overlap=30</p>
</div>
{% endif %}